
h1 {color:#344340;
background-color: #F4F2DE;
} /* hex */
a:hover {color: #53b7c6;} 

body {background-color: #F4F2DE;}

nav {padding: 10px;
    background-color: #586d70;
    margin-bottom: 30px;

}

nav a:hover {background-color:#7C9D96;}

@media only screen and (max-width: 700px) {
    nav a {display:block;
        width:100%;}
    nav span { display: none;}
}

