
h1 {color:#7C9D96;
background-color: #F4F2DE;
} /* hex */
a:hover {color: #53b7c6;} 

body {background-color: #F4F2DE;}

nav {padding: 10px;
    background-color: #c0d7da;
    margin-bottom: 30px;

}

nav a:hover {background-color:#7C9D96;}

@media only screen and (min-width: 500px) {
    nav a {display:block;
        width:100%;}

    nav span { display: none;}
}

