
h1 {color: #24305E;
background-color:#F8E9A1;
} /* hex */
a:hover {color: #F76C6C;} 

body {background-color: #A8D0E6;

nav {padding: 10px;
    background-color: #24305E;
    color: #FFFFFF;
    margin-bottom: 30px;

}
}
