
h1 {color: #24305E;
background-color:#F8E9A1;
} /* hex */
a:hover {color: #F76C6C;} 

body {background-color: #A8D0E6;

nav {padding: 10px;
    background-color: #24305E;
    color: #FFFFFF;
    margin-bottom: 30px;

}
@media only screen and (max-width: 700px) {
    nav a {display:block;
        width:100%;}
    nav span { display: none;}
}
@media only screen and (max-width: 600px) {
    /* Add your mobile-specific styles here */
    .welcome {
        flex-direction: column;
    }

    .welcome img {
        max-width: 100%;
        height: auto;
    }

    .welcomecontent {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .hanna {
        padding: 20px;
    }

    .info1, .info2 {
        flex-basis: 100%;
        margin: 10px;
    }
}
}