body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h1, h2 {color: darkorchid;}
.evenrow {background-color:lightblue;}
h1 {font-size: 4em;}
h2 {font-size: 2em;}